:root {
    --vaaleampi: #dbe6d8;
    --vaalean-vihrea: #afeeaf;
    --tumman-vihrea: #4c9d4c;
}

.button {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    background-color: var(--vaalean-vihrea);
    color: black;
}

.button:hover {
    background-color: var(--vaaleampi);
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.space-evenly {
    justify-content: space-evenly;
}

.responsive-img {
    width: 100%;
    height: auto;
}

.hide {
    display: none;
}

.hidden {
    visibility: hidden;
}

.float {
    float: left;
}

/* app specific */


html, body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    margin: auto;
}

.otsikko {
    background-color: var(--tumman-vihrea);
    margin-top: 0;
    padding: 2px 0 8px 0;
    text-align: center;
}

ion-icon {
    vertical-align: middle;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* #kartta {
    width: 100%;
    height: 500px;
    margin: auto;
} */

#map {
    width: 50%;
    float: left;
}

.laatikot {
    width: 100%;
    float: right;
    font-size: large;
}

.laatikko {

}

#kartta, .laatikko {
    margin: 1rem 0 1rem 0;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
}

.laatikko h2 {
    margin: 0;
}

.laatikko table {
    width: 100%;
    text-align: center;
    border-radius: 4px;
}

.laatikko h3 {
    width: 100%;
    text-align: center;
    border: var(--tumman-vihrea) solid 2px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
    background-color: var(--vaalean-vihrea);
}

.laatikko td {
    width: 50%;
    text-align: center;
    border: var(--tumman-vihrea) solid 2px;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 2rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
    background-color: var(--vaalean-vihrea);
}


.laatikko li {
    width: 50%;
    text-align: center;
    border: var(--tumman-vihrea) solid 2px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
    background-color: var(--vaalean-vihrea);
}

footer {
    background-color: var(--tumman-vihrea);
    padding: 1rem;
    border-radius: 10px 10px 0 0;
}

#pelaaja-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
}

#pelaaja-form {
    display: flex;
    width: 50%;
    margin: 4rem auto;
    flex-direction: column;
}

#pelaaja-form input {
    padding: 1rem;
}

.done {
    background-color: var(--vaaleampi);
}

.about-kuva {
    width: 600px;
    height: 400px;
    margin: 0 0 1rem 0;
}

#about-page {
    margin: 0.5rem;
}

@media screen and (min-width: 769px) {
    .laatikko {
        font-size: initial;
    }

    #map {
        width: 49%;
        margin: 0.5%;
        float: left;
    }

    .laatikot {
        width: 49%;
        margin: 0.5%;
        float: right;
        font-size: large;
    }
}

.tumma-icon {
    background-color: var(--tumman-vihrea);
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.3);
}

.vaalea-icon {
    background-color: var(--vaaleampi);
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
